/* Spinner Styles */
.spinner {
  position: relative;
  width: 56px;
  height: 56px;
  animation: spinner-x0t3la 6s infinite linear;
}

.spinner::before {
  content: "";
  display: block;
  height: 56px;
  width: 11.2px;
  animation: spinner-x0t3la 0.5s infinite;
  background: #262626;
  position: absolute;
  left: 50%;
  margin-left: -5.6px;
}

@keyframes spinner-x0t3la {
  to {
    transform: rotate(360deg);
  }
}
